@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #fff;
    --fonte-titulo: "Anta", sans-serif;
    --fonte-secundaria: "Anta", sans-serif;
}

.game-board {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background: url(/assets/css/images/background-game.png);
    background-size: 100% 100vh;

    /* pra tudo que sair do quadro não aparecer mais na tela */
    overflow: hidden;
}

.container-contador {
    margin: 50px 60px;
    color: var(--branco);
    display: flex;
    width: 200px;
    align-items: baseline;
    justify-content: space-between;
}

.container-contador h3 {
    font-size: 44px;
    font-family: var(--fonte-titulo);
}

.container-contador p {
    font-size: 35px;
    font-family: var(--fonte-secundaria);
}

.bg-clouds {
    position: absolute;
    width: 100%;
    animation: clouds-animation 30s infinite linear;
}

.bg-static {
    position: absolute;
    width: 100%;
    bottom: -40px;
}

.monster {
    position: absolute;
    /* pra o monstro ficar lá embaixo */
    bottom: 160px;
    animation: monster-animation 2s infinite linear;
}

.sarita {
    position: absolute;
    bottom: 160px;
}

.jump {
    animation: sarita-jump 700ms ease-out;
}

@keyframes monster-animation {
    from {
        /* pra o monstro começar fora da tela, 64px é o tamanho dele */
        right: -64px;
    }

    to {
        right: 100%;
    }
}

@keyframes sarita-jump {
    0% {
        bottom: 160px;
    }
    40% {
        bottom: 240px;
    }
    50% {
        bottom: 250px;
    }
    60% {
        bottom: 240px;
    }
    100% {
        bottom: 160px;
    }
}


@keyframes clouds-animation {
    from {
        right: -550px;
    }
    to {
        right: 100%;
    }
    
}