* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;

    /* pra tudo que sair do quadro não aparecer mais na tela */
    overflow: hidden;
}

.monster {
    position: absolute;

    /* pra o monstro ficar lá embaixo */
    bottom: 0;
    animation: monster-animation 2s infinite linear;
}

.sarita {
    position: absolute;
    bottom: 0;
}

.jump {
    animation: sarita-jump 700ms ease-out;
}

@keyframes monster-animation {
    from {
        /* pra o monstro começar fora da tela, 64px é o tamanho dele */
        right: -64px;
    }

    to {
        right: 100%;
    }
}

@keyframes sarita-jump {
    0% {
        bottom: 0;
    }
    40% {
        bottom: 100px;
    }
    50% {
        bottom: 110px
    }
    60% {
        bottom: 80px;
    }
    100% {
        bottom: 0;
    }
}